.services_service img{
    width: 80px;
    height: 80px;

}

.services_service_image img{
    width: 100px;
    height: 100px;

}
.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 100%;
    margin: 0 14rem;
    margin-top: 10rem;
}