*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nailLineHr1{
    width: 400px; 
}
.nailLineHr2{
    width: 310px; 
}
.nailLineHr1{
    width: 400px; 
}
.nailLineHr1{
    width: 400px; 
}
.nailLineHr1{
    width: 400px; 
}
.nailLineHr1{
    width: 400px; 
}
.nailLineHr1{
    width: 400px; 
}