*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nailLineHr1{
    width: 400px; 
}
.nailLineHr2{
    width: 310px; 
}
.nailLineHr3{
    width: 360px; 
}
.nailLineHr4{
    width: 420px; 
}
.nailLineHr5{
    width: 380px; 
}

.nailLineHr7{
    width: 290px; 
}

.nailLineHr10{
    width: 450px; 
}

.nailLineHr14{
    width: 320px; 
}
.nailLineHr15{
    width: 330px; 
}