*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainPageP{
    height: 100%;
    width: 100%;
}
.mainPageH{
    width: 90%;
    margin: auto;
}
.tabList{
    margin-left: 25%;
}
.tabName{
    font-size: 10px;
    color: #111111f5;
    font-weight: 700;
    letter-spacing: 6px;
}