*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.iconContentsSub{
    display: inline-flex;
    gap: 5px;
}
.iconContentsSub a{
    text-decoration: none;
}
.footerIcon{
    margin-top: .5rem;
}
.companyTitle{
    font-size: 35px;
    color: #111;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
}
.companyTitle:hover{
    color: tomato;
}
.companySubTitle{
    font-size: 18px;
    color: #111111da;
    font-weight: 600;
    text-transform: capitalize;
    font-style:normal;
    bottom: 1rem;
    position: relative;
    
}
.footerDes{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #111111ef;
    text-align: justify;
}
.socialLinks{
    display: flex;
    gap: 1rem;
    margin: 1px 0 2rem 0;
}
/* facebook  */
.facebook{
    padding: 4px 4px 0 4px;
    background-color: rgba(255, 99, 71, 0.877);
    border-radius: 100px;

}
.fbIcon{
    margin-top: .1rem;
}
.facebook a{
    text-decoration: none;
}
.facebook:hover{
    background-color: #111111b6;
}

/* instagram  */
.instagram{
    padding: 6px;
   
    background-color: #111111b6;
    border-radius: 100px;

}
.instagram a{
    text-decoration: none;
}
.instagram:hover{
    background-color: rgba(255, 99, 71, 0.877);
}

/* twitter  */
.twitter{
    padding: 6px;
   
    background-color: #111111b6;
    border-radius: 100px;

}
.twitter a{
    text-decoration: none;
}
.twitter:hover{
    background-color: rgba(255, 99, 71, 0.877);
}




