*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pricingListPage{
    display: flex;
    gap: 30px;
}
 .priceListTitle{
    font-size: 40px;
    color: #111;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 7rem;
    padding-top: 2px 0;

}
.hairCutContents{
    display: flex;
}
.cutLineHr{
    width: 300px;
}