*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contactPHead{
    height: 100%;
    width: 100%;
}
/* .contactBodyPage{
    background-color: #111;
} */
/* .contactPage{
    width: 90%;
    margin: auto;
} */

.infoSection{
    width: 90%;
    margin: auto;
    margin-top: 6rem;
}
