*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clientParent{
    height: 100%;
    width: 100%;
    background-image: url('../../assets/image/Background/bg11.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.clientHead{
    width: 90%;
    margin: auto;
}
.clientBody{
    height: 500px;
}
.clientBody .ClientTitle{
    font-size: 45px;
    color: rgb(243, 5, 243);
    font-weight: 600;
    text-transform: capitalize;
    padding: 6rem 0 0rem 0;
    text-align: center;

}

.ClientTitle:hover{
    color: #111;
}

   /* icon add style */
.clientLine{
    display: flex;
    gap: 5px;
    justify-content: center;
}
.clientLineTitle{
    width: 50px;
    margin-top: .5rem;
}

 /* icon add style end*/

 .flowerTitle{
    margin-top: 3rem;
    text-align: center;
    color: rgb(247, 125, 145);
 }