* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyAllPort {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.imgAll {
    position: relative;
    width: 340px;
}

.imgAll img {
    width: 340px;
    height: 300px;
    display: block;
    backface-visibility: hidden;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.imgAll:hover .image {
    opacity: 0.8;
}
.imgAll:hover .overlay {
    opacity: 1;
  }
/* .text{
    width: 340px;
    height: 300px;
 
} */
.text {
    background-color: #04aa6d2f;
    /* color: white; */
    /* font-size: 18px; */
    padding: 5rem 7rem;
    border: 2px solid yellow;
    /* width: 250px; */
    
}
.hell{
    font-size: 24px;
    font-weight: 700;
    color: rebeccapurple;
}
.areaBtn{
    /* display: flex;
    justify-content: center; */
    margin-top: 2rem;
    /* margin-left: 20rem; */
}
.areaBtn button {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 12px 60px;
    border: 0;
    background-color: #111111;
    border-radius: 10px;
    left: 30rem;
    position: relative;
    text-transform: uppercase;
     
}
.areaButton:hover{
    background-color: rgba(255, 99, 71, 0.671);
    color: #111111;
}