*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bodyAllPort{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.imgAll img{
    width: 340px;
    height: 300px;
}