*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hairChart{
    height: 100%;
    width: 100%;
}
.hairChartBody{
    width: 90%;
    margin: auto;
}
.chartContent{
    display: flex;
    gap: 30px;
    margin-top: 8rem;
    margin-left: 4rem;
}
.colorContents{
    display: flex;
}
.chartHr1{
    width: 300px;
}
.colorTitle {
    font-size: 35px;
    color: #111;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 0 20px 0;
}