*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hairChart{
    height: 100%;
    width: 100%;
}
.hairChartBody{
    width: 90%;
    margin: auto;
}
.chartContent{
    display: flex;
    gap: 30px;
    margin-top: 8rem;
    margin-left: 4rem;
}
.colorContents{
    display: flex;
}
.chartHr1{
    width: 300px;
}
.chartHr2{
    width: 380px;
}
.chartHr3{
    width: 300px;
}
.chartHr4{
    width: 240px;
}
.chartHr5{
    width: 400px;
}
.chartHr6{
    width: 310px;
}
.chartHr7{
    width: 320px;
}
.chartHr8{
    width: 270px;
}

.colorTitle {
    font-size: 35px;
    color: #111;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 0 30px 0;
}
.nameCTitle{
    font-size: 20px;
    color: #111;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.colorPTitle{
    font-size: 18px;
    font-weight: 500;
    color: #111111a2;
}
.natural{
   /* width: 400px; */
   

}
.naturalTitle{
    color: #fff;
    background-color: #111;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    padding: 4px 10px;
    margin-left: 24rem;
    
    
}