*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.pricingHead{
    height: 100%;
    width: 100%;
}
.pricingBody{
    width: 90%;
    margin: auto;
}

.pricingTitle{
    font-size: 30px;
    /* color: #111; */
    color: rgb(243, 5, 243);

    font-weight: 600;
    text-transform: capitalize;
    padding: 6rem 0 1rem 0;
    text-align: center;
}
.pricingTitle:hover{
    color: #111;
}


/* horizontal line styled  */
.pricingLine{
    display: flex;
    gap: 5px;
    justify-content: center;
}
.pricingLineTitle{
    width: 50px;
    margin-top: .5rem;
}
/* contents  */
.packageContents{
    display: flex;
    gap: 40px;
}