*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pricingTitle{
    margin-top: 6rem;
}
.pricingHead{
    height: 100%;
    width: 100%;
}
.pricingBody{
    width: 90%;
    margin: auto;
}


/* horizontal line styled  */
.pricingLine{
    display: flex;
    gap: 5px;
    justify-content: center;
}
.pricingLineTitle{
    width: 50px;
    margin-top: .5rem;
}