*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* horizontal line styled  */
.pricingLine{
    display: flex;
    gap: 5px;
    justify-content: center;
}
.pricingLineTitle{
    width: 50px;
    margin-top: .5rem;
}