*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.HomeService{
    height: 100%;
    width: 100%;
    margin: 6rem 0 0 0;
}
.HomeServiseHead{ 
    background-image: linear-gradient(to bottom right, rgba(228, 211, 211, 0.425) , rgba(195, 195, 224, 0.664)), url('../../../../public/Images/Services/bgService.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.service_body{
    width: 90%;
    margin: auto;
    height: 600px;
   
}
.hSTitle{
    font-size: 45px;
    color: 	#CD5C5C;
    font-weight: 600;
    text-transform: capitalize;
    padding: 6rem 0 0rem 0;
    text-align: center;
}
.sar_name{
    color: #111;
}
.hSTitle:hover{
    color: tomato;
}