*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.HomeService{
    height: 100%;
    width: 100%;
    margin: 6rem 0 0 0;
}
.HomeServiseHead{ 
    background-image: linear-gradient(to bottom right, rgba(228, 211, 211, 0.425) , rgba(195, 195, 224, 0.664)), url('../../../../public/Images/Services/bgService.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.service_body{
    width: 90%;
    margin: auto;
    /* height: 1000px; */
    /* margin: 0 0 4rem 0; */
   
   
}
.hSTitle{
    font-size: 45px;
    color: 	#CD5C5C;
    font-weight: 600;
    text-transform: capitalize;
    padding: 4rem 0 0rem 0;
    text-align: center;
}
.sar_name{
    color: #111;
}
.hSTitle:hover{
    color: tomato;
}
.contentsOfHome{
    display: flex;
    gap: 20px;
}
.infoOfHome{
    margin-left: 10rem;

}
.iconHomeS{
    /* margin-left: 25rem; */
}
.ourService{
    font-size: 25px;
    font-weight: 700;
    color: 	#8B0000;
    font-style: italic;

}
.hrHome hr{
    padding: 5px !important;
}

.ourHr11{
    width: 150px;
    color: tomato;
    padding: 5px;
    position: relative;
  
}
.listOfSr{
    display: inline-flex;
}
.listOfSr ul li {
    font-size: 16px;
    color: #8b0000a8;
    font-weight: 700;
    padding: 5px;
    text-transform: uppercase;

}
.aboutUs{
    margin-top: 2rem;
}
.aboutUs .aboutUsTitleH{
    text-transform: capitalize;
    font-size: 30px;
    color: #8B0000;
    font-style: italic;
}
.sortDesH{
    width: 200px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8b0000c2;
    padding: 10px 0;

}
.priceH{
    width: 400px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #111;
    padding: 10px 0 6rem 0;
    text-transform: uppercase;
    line-height: 40px;

}

/* info styled end  */

/* image form design start */
.img1 img {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    margin-left: 10rem;
}
.img2 img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-left: 8rem;
}
.img3 img {
    width: 220px;
    height: 220px;
    border-radius: 100px;
    margin-left: 15rem;
    margin-top: 2rem;
}
.btnH{
    margin : 3rem 14rem;
}
.btnH button{
    font-size: 16px;
    font-weight: 700;
    color: #111111c7;
    padding: 6px 20px;
    border-radius: 14px;
    background-color: rgba(128, 128, 128, 0.473);
    text-transform: uppercase;
    border: 1px solid rgba(12, 11, 11, 0.377);
}
