.homeHead{
    height: 100vh;
    background-image: url('../../assets/image/Background/BackgroundPic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content img{

    width: 80px;
    height: 80px;
}