.navSection{
    /* background-color: antiquewhite; */
    top: 0;
    position: relative;
    background-image: url('../../assets/image/Background/job297.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


}
.navHead{
    width: 90%;
    margin: auto;
   
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    color: #111;
    padding-top: 2rem;   
}
.brand img{
    width: 100px;
    height: 40px;
    /* margin-top: 2rem; */
}

.toggle{
    display: none;
}

.links ul{
    display: flex;
    gap: 3rem;
}
.active a{
    border-bottom: 0.2rem solid var(--secondary-color);
   

}
.links li{
    list-style: none;
   
}
.links li a{
    text-decoration: none;
    font-weight: 600;
    color: #111;
    font-size: 0.9rem;
    text-transform: uppercase;

}
