*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.achieveList{
    height: 100%;
    width: 100%;
    margin-top: 6rem;
}
.achieveHead{
    width: 90%;
    margin: auto;
}
.achieveContents{
    display: flex;
    gap: 3rem;
    margin: 0 0 8rem 0;
}
.contentAcInfo{
    width: 550px;
    margin-left: 4rem;
}

.titleAc{
    font-size: 40px;
   
    font-weight: 700;
    color: #111111e1;
    text-transform: capitalize;
    line-height: 50px;
    padding: 0 0 5px 0;
}
.titleAc:hover{
    color: tomato;
}
/* icon part  */

.IconInfoAchive{
    display: flex;
    gap: 5px;
   
}
.lineHrAchive{
    margin: .5rem 0 0 0 ;
    width: 50px;  
}
/* icon part end  */

.desAchieve{
    font-size: 16px;
    color: #11111177;
    font-weight: 600;
    padding: 10px 0;
    text-align: justify;

}

/* clients part start */
.reviewContent{
    display: flex;
    gap: 30px;
}
/* clients style start  */
.happyClients{
   background-color: aquamarine;
   width: 200px;
   height: 150px;
   margin: 10px 0 20px 10px;
   background-image: linear-gradient(to bottom, rgba(227, 228, 233, 0.52), #221f208e), url('../../assets/image/Background/bg7.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 10px;

}
.clientsNum{
    /* padding: 40px 60px; */
    color: #ffffff;
    /* text-align: center; */
    padding-left: 2.5rem;
    padding-top: 30px;
    font-weight: 700;
    font-size: 40px;
    font-family: sans-serif;
    font-style: italic;

}
.upperNum{
    /* padding: 0 0 10rem 0; */
    bottom: .5rem;
    right: .4rem;
    position: relative;
}
.twoNum{
    right: 1rem;
    position: relative;

}
.upperPlus{
    bottom: .5rem;
    position: relative;
    font-weight: 200;
    right: 2rem;

}
.clientsTitle{
    font-size: 18px;
    text-align: center;
    color: tomato;
    font-weight: 500;
}
/* clients style end  */



/* reviewRelaxed field start  */

.relaxedClients{
    background-color:  rgba(255, 99, 71, 0.842);
    width: 200px;
    height: 150px;
    margin: 3rem 0 20px 10px;
    border-radius: 10px;
 
 }
 .clientRexNum{
     /* padding: 40px 60px; */
     color: #ffffff;
     /* text-align: center; */
     padding-left: 2.5rem;
     padding-top: 30px;
     font-weight: 700;
     font-size: 40px;
     font-family: sans-serif;
     font-style: italic;
 
 }
 .upperRexNum{
     /* padding: 0 0 10rem 0; */
     bottom: .5rem;
     right: .4rem;
     position: relative;
 }
 
 .upperRexPlus{
     bottom: .5rem;
     position: relative;
     font-weight: 200;
     right: .2rem;
 
 }
 .threeNum{
    right: .4rem;
    position: relative;

 }
 .relaxedTitle{
     font-size: 18px;
     text-align: center;
     color: #111;
     font-weight: 600;
 }

 /* image section  */

 .imageAc{
    margin-top: 3rem;
 }
 .imageAc img{
    width: 300px;
    height: 400px;
    border-radius: 10px;

 }

