*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.achieveList{
    height: 100%;
    width: 100%;
    margin-top: 6rem;
}
.achieveHead{
    width: 90%;
    margin: auto;
}
.achieveContents{
    display: flex;
    gap: 20px;
}
.contentAcInfo{
    width: 550px;
}

.titleAc{
    font-size: 40px;
   
    font-weight: 700;
    color: #111111e1;
    text-transform: capitalize;
    line-height: 50px;
    padding: 0 0 5px 0;
}
.titleAc:hover{
    color: tomato;
}
/* icon part  */

.IconInfoAchive{
    display: flex;
    gap: 5px;
   
}
.lineHrAchive{
    margin: .5rem 0 0 0 ;
    width: 50px;  
}
/* icon part end  */

.desAchieve{
    font-size: 16px;
    color: #11111177;
    font-weight: 600;
    padding: 10px 0;
    text-align: justify;

}

/* clients part start */
.reviewContent{
    display: flex;
    gap: 20p;
}