*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bookingINfo{
    width: 700px;
    margin-top: 7rem;

}

.infoTitleBook{
    font-size: 45px;
    font-weight: 700;
    color: #111111e1;
    text-transform: capitalize;
    line-height: 50px;
    padding: 20px 0;
}
/* icon part  */

.IconInfoBooking{
    display: flex;
    gap: 5px;
   
}
.lineHrBook{
    margin: .5rem 0 0 0 ;
    width: 50px;  
}
/* icon part end  */
.bookingInfoDes{
    font-size: 16px;
    color: #11111177;
    font-weight: 600;
    padding: 10px 0;
    text-align: justify;
}