*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.makeBookingHead{
    height: 100%;
    width: 100%;
    background-image: url('../../assets/image/Background/bg12.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 8rem; */
}
.bookingBody{
    width: 90%;
    margin: auto;

}
.bookingContents{
    display: flex;
    gap: 40px;
    /* margin-top: 3rem; */
    height: 500px;
}
.appointmentTitle{
    font-size: 30px;
    font-weight: 600;
    padding: 30px 50px;
    color: #111;
}