*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.makeBookingHead{
    height: 100%;
    width: 100%;
    background-image: url('../../assets/image/Background/bg12.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 8rem; */
}
.bookingBody{
    width: 90%;
    margin: auto;

}
.bookingContents{
    display: flex;
    gap: 40px;
}
.appointment{
    margin: 40px 0;
    width: 450px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}
.appointmentTitle{
    font-size: 30px;
    font-weight: 600;
    padding: 50px 0 5px 30px;
    color: #111111ef;
}
/* icon part  */

.IconSortBooking{
    display: flex;
    gap: 5px;
    margin-left: 30px;
}
.lineHrBook{
    margin: .5rem 0 0 0 ;
    width: 50px;  
}
/* icon part end  */

/* --------user input design ----------- */
.userContents{
    margin: 20px 30px;
}
.namePart{
    display: inline-flex;
    gap: 20px;
}
.firstName{
    width: 180px;
    height: 40px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 13px;
    
}
::placeholder{
    font-size: 15px;
    font-weight: 600;
    color: #11111194;
    padding: 0 0 0 10px;
}
.emailPart{
    margin-top: 20px;
    display: inline-flex;
    gap: 20px;
}
.emailField{
    width: 180px;
    height: 40px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 13px;

}
.dateTimeHead{
    margin-top: 20px;
}
.dateTime{
    width: 380px;
    height: 40px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 13px;
    font-size: 15px;
    font-weight: 600;
    color: #11111194;
    padding: 0 0 0 10px;

}
.optionName{
    font-size: 15px;
    font-weight: 600;
    color: #11111194;
    padding: 0 0 0 10px;

}
.message{
    margin-top: 20px;
}
.messageField{
    width: 380px;
    height: 100px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 13px;

}
/* input end design  */


/* button working  */
.btnBooking{
    margin: 0 0 3rem 0px;
    border-radius: 25px;

}
.btnBookIcon{
    translate: -.6px  40px -60px;
    margin-left: 5px;

}
.btnIconBook{
    padding: 10px 5px 5px 5px;
    background-color:rgba(211, 165, 79, 0.342);
    border-radius: 10px;
}

.lineIconBok{
    padding-top: 10px;
}
.peiceRegBtn button{
    width: 200px;
    padding: 12px 0px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: tomato;
    border: 0;
    border-radius: 10px;
    /* margin: 0 0 8rem 0; */
   
}
.peiceRegBtn:hover .btnSubInfoReg{
    background-color: purple;
}

/* button working end */