*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.milestone{
    width: 100%;
    height: 100%;
    margin-top: 6rem;
}
.milestoneBody{
    width: 90%;
    margin: auto;
}
.milestoneContent{
    display: flex;
    gap: 6rem;
}
.imageOn{
    margin-left: 1rem;

}
.imageOn img{

    width: 500px;
    height: 600px;
}

/* information part  */

.information .informationTitle{
    font-size: 40px;
    font-family: 'Lucida Sans';
    padding: 20px 0px;
    transition: transform all ease;
}
.informationTitle:hover{
    color: rgb(192, 127, 116);
    transform: scale(1.1);
}
.IconSort{
    
    display: flex;
    gap: 5px;
}
.lineHr{
    margin-top: .5rem;
    width: 30px;
    /* color: tomato; */
}
 .information .sortInfo{
    font-size: 18px;
    color: #111;
    font-weight: 500;
    padding:  10px 0 20px 0;
 }
.miniCut{
    color: #fff;
    background-color: tomato;
    padding: 2px 8px;
    border-radius: 5px;

}
.information .description{
    font-size: 16px;
    font-weight: 500;
    padding:  0 0 10px 0;
    color: #111111a8;
}