*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.milestone{
    width: 100%;
    height: 100%;
     
}
.milestoneHead{
    background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), #ffb6c1cc), url('../../assets/image/add/preview.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 20px;

}
.milestoneBody{
    width: 90%;
    margin: auto;
    margin-top: 6rem;
}
.milestoneContent{
    display: flex;
    gap: 6rem;
}
.imageOn{
    margin-left: 1rem;

}
.imageOn img{
    margin-top: 6rem;

    width: 500px;
    height: 550px;
}

/* information part  */

.information{
    margin: 5rem 0 8rem 0 ;
}
.information .informationTitle{
    font-size: 40px;
    font-family: 'Lucida Sans';
    padding: 20px 0px;
    transition: transform all ease;
}
.informationTitle:hover{
    color: rgb(192, 127, 116);
    transform: scale(1.1);
}
.IconSort{
    
    display: flex;
    gap: 5px;
}
.lineHr{
    margin-top: .5rem;
    width: 30px;
    /* color: tomato; */
}
 .information .sortInfo{
    font-size: 18px;
    color: #111;
    font-weight: 500;
    padding:  10px 0 20px 0;
 }
.miniCut{
    color: #fff;
    background-color: tomato;
    padding: 2px 8px;
    border-radius: 5px;

}
.information .description{
    font-size: 16px;
    font-weight: 500;
    padding:  0 0 10px 0;
    color: #111111a8;
}
.itemsContent .cleaning{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 10px;
}
.cleaningContent .CleaningTitle{
    font-size: 16px;
    padding: 0 0 0rem .4rem;
    bottom: 4px;
    position: relative;
    color: #111111a8;
    font-weight: 600;
    
}
.btnIcon{
    padding: 10px 5px 5px 5px;
    background-color:rgba(245, 222, 179, 0.342);
    border-radius: 10px;
}
.btnIcon1{
    translate: -.6px  40px -60px;
    margin-left: 5px;

}
.outlineIcon{
    padding-top: 10px;
}
.btnSubscription button{
    width: 200px;
    padding: 12px 0px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: tomato;
    border: 0;
    border-radius: 10px;
}
.btnSubInfo:hover {
    background-color: rgb(150, 92, 17);
}