*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.milestone{
    width: 100%;
    height: 100%;
    margin-top: 6rem;
}
.milestoneBody{
    width: 90%;
    margin: auto;
}
.milestoneContent{
    display: flex;
    gap: 6rem;
}
.imageOn{
    margin-left: 2rem;

}
.imageOn img{

    width: 400px;
    height: 300px;
}

/* information part  */

.information .informationTitle{
    font-size: 45px;
    font-family: 'Lucida Sans';
    padding: 20px 0px;
    transition: transform all ease;
}
.informationTitle:hover{
    color: rgb(192, 127, 116);
    transform: scale(1.1);
}
.IconSort{
    
    display: flex;
    gap: 5px;
}
.lineHr{
    margin-top: .5rem;
    width: 30px;
    /* color: tomato; */
}
.miniCut{
    color: #fff;
    background-color: tomato;
    padding: 2px 8px;
    border-radius: 5px;

}