*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.locationContents{
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 20px;

}
/* mobile info start */
.mobileInfo{
    margin: 2rem 1rem 0 2rem;
    display: flex;
    gap: 5px;
}
.numberIcon{
    margin-top: 2rem;
}
.numberInfo{
    margin-top: 2rem;

}
.pi{
    padding: 6px;
    background-color: rgba(255, 99, 71, 0.808);
    border-radius: 100px;
}

.numberOf_Title{
    font-size: 16px;
    font-weight: 600;
    color: #111111af;
    
}
.number_of{
    font-size: 16px;
    font-weight: 600;
    color: #111111af;
    bottom: 1rem;
    position: relative;

}
/* mobile info end */
/* email part start  */
.emailInfo{
    display: flex;
    gap: 5px;
    bottom: 1rem;
    position: relative;
    margin: 0rem 1rem 0 2rem;
}

.piEmail{
    padding: 6px;
    background-color: rgba(255, 99, 71, 0.808);
    border-radius: 100px;
}
.emailOf_Title{
    font-size: 16px;
    font-weight: 600;
    color: #111111af;
    
}
.email_of{
    font-size: 16px;
    font-weight: 600;
    color: #111111af;
    bottom: 1rem;
    position: relative;

}
/* email part end  */

/* address part start  */
.addressInfo{
    display: flex;
    gap: 5px;
    bottom: 2rem;
    position: relative;
    margin: 0rem 1rem 0 2rem;
}
.piAddress{
    padding: 6px;
    background-color: rgba(255, 99, 71, 0.808);
    border-radius: 100px;
}
.addressOf_Title{
    font-size: 16px;
    font-weight: 600;
    color: #111111af;
    
}
.address_of{
    font-size: 16px;
    font-weight: 600;
    color: #111111af;
    bottom: 1rem;
    position: relative;

}