*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.presentRtHead{
    width: 400px;
}
.imageInfo img{
    width: 400px;
    height: 250px;
}
.timeAndDate{
    margin: 20px 0;
    display: flex;
    gap: 20px;
}
.dateRating{
    display: inline-flex;
    gap: 5px;
    margin: 0 20px;
}
.dateTitle{
    font-size: 18px;
    font-weight: 600;
    color: #111111be;
}


/* user rating  */
.userRating{
    display: inline-flex;
    gap: 5px;
}
.userRating .userTitle{
    font-size: 18px;
    font-weight: 600;
    color: #111111be;

}
/* ---------------------line breaker -------- */
.lineBreak{
    padding: 1px;
   border-style: dotted;
}