*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.presentRating{
    height: 100%;
    width: 100%;
    margin: 0 0 4rem 0;
}
.presentRtHead{
    width: 380px;
    box-shadow: rgba(187, 40, 40, 0.35) 0px 5px 15px;
    border-radius: 10px;
    height: 750px;
}
.presentRtBody{
    margin: 10px 0 4rem 0;
}
.imageInfo{
    margin: 0rem 0 0 2rem;
}
.imageInfo img{
    margin: 2rem 0 1rem 0;
    width: 320px;
    height: 250px;
    border-radius: 10px;
}
.timeAndDate{
    margin: 20px 20px;
    display: flex;
    gap: 30px;
}
.dateRating{
    display: inline-flex;
    gap: 5px;
    
}
.dateTitle{
    font-size: 18px;
    font-weight: 600;
    color: #111111be;
}


/* user rating  */
.userRating{
    display: inline-flex;
    gap: 5px;

}
.userRating .userTitle{
    font-size: 18px;
    font-weight: 600;
    color: #111111be;

}
/* ---------------------line breaker -------- */
.lineBreak{
    padding: 1px;
   border-style: dotted;
   margin: 0 30px;
}

.ratingDesContent{
    margin: 10px 20px 0 20px;
}
.desTitle{
    font-size: 30px;
    padding: 0 5px;
    font-weight: 700;
    font-style: italic;
    line-height: 40px;
    color: #111111ea;
}
.desContent{
    font-size: 16px;
    padding: 10px;
    line-height: 30px;
    text-align: justify;
}
.readMoreRating{
    margin: 20px 20px;
}
.readMoreRating a{
    text-decoration: none;
    font-size: 16px;
    color: tomato;
    font-weight: 500;
    
    /* padding: 3rem 0; */
}
.iconRate{
    color: tomato;
}
.readMoreRating:hover .moreLink,
.readMoreRating:hover .iconRate
{
    color: #111;
    
}